<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Moalboal</key>
	<dict>
		<key>description</key>
		<string>ウミガメが見れる</string>
		<key>image</key>
		<string>moalboal.jpg</string>
		<key>latitude</key>
		<string>9.955661</string>
		<key>longitude</key>
		<string>123.40076</string>
	</dict>
	<key>Ayala</key>
	<dict>
		<key>description</key>
		<string>Cebuの中心地</string>
		<key>image</key>
		<string>ayala.jpg</string>
		<key>latitude</key>
		<string>10.3747</string>
		<key>longitude</key>
		<string>123.905759</string>
	</dict>
</dict>
</plist>
